<div class="flex-col w-full">
  <div class="min-h-screen py-20">
    <div class="container mx-auto px-5 flex flex-col gap-6">
      <a href="<%= events_path %>" class="border border-slate-500 rounded-md w-52 py-2 hover:bg-blue-300 px-5 text-center">Back</a>
      <div class="text-black mt-4 text-2xl w-full"><%= @event.name %></div>
      <div class="flex gap-2">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" class="h-6 w-6" viewBox="0 0 16 16">
          <path d="M8 3.5a.5.5 0 0 0-1 0V9a.5.5 0 0 0 .252.434l3.5 2a.5.5 0 0 0 .496-.868L8 8.71z"/>
          <path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16m7-8A7 7 0 1 1 1 8a7 7 0 0 1 14 0"/>
        </svg><%= @event.when.strftime("%Y-%m-%d %H:%M") %>, ~1h
      </div>
      <div class="flex items-center gap-2">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" class="h-6 w-6" viewBox="0 0 16 16">
          <path fill-rule="evenodd" d="M8 1a3 3 0 1 0 0 6 3 3 0 0 0 0-6M4 4a4 4 0 1 1 4.5 3.969V13.5a.5.5 0 0 1-1 0V7.97A4 4 0 0 1 4 3.999zm2.493 8.574a.5.5 0 0 1-.411.575c-.712.118-1.28.295-1.655.493a1.3 1.3 0 0 0-.37.265.3.3 0 0 0-.057.09V14l.002.008.016.033a.6.6 0 0 0 .145.15c.165.13.435.27.813.395.751.25 1.82.414 3.024.414s2.273-.163 3.024-.414c.378-.126.648-.265.813-.395a.6.6 0 0 0 .146-.15l.015-.033L12 14v-.004a.3.3 0 0 0-.057-.09 1.3 1.3 0 0 0-.37-.264c-.376-.198-.943-.375-1.655-.493a.5.5 0 1 1 .164-.986c.77.127 1.452.328 1.957.594C12.5 13 13 13.4 13 14c0 .426-.26.752-.544.977-.29.228-.68.413-1.116.558-.878.293-2.059.465-3.34.465s-2.462-.172-3.34-.465c-.436-.145-.826-.33-1.116-.558C3.26 14.752 3 14.426 3 14c0-.599.5-1 .961-1.243.505-.266 1.187-.467 1.957-.594a.5.5 0 0 1 .575.411"/>
        </svg>
        <%= @event.location %>
      </div>
      <div class="flex flex-col md:flex-row w-full gap-6">
        <div class="w-full flex flex-col gap-3">
          <span class="text-xl">Acceptors / Decliners</span>
          <span class="text-green-600">Raphael Nadal</span>
          <span class="text-green-600">Roger Federer</span>
          <span class="text-green-600">Peter Muster</span>
          <span class="text-red-600">Peter Arnold</span>
        </div>
        <div class="w-full">
          <span class="text-xl">Chat Messages</span>
        </div>
      </div>
    </div>
  </div>
</div>
