<div class="h-72 bg-slate-700 text-white">
  <div class="container mx-auto py-12 px-5">
    <a class="hover:text-slate-500" href="<%= events_path %>">Events</a> | <a class="hover:text-slate-500" href="<%= changelog_logs_path %>">Changelog</a>
  </div>
</div>
